<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="programmers.baemin.store.repository.StoreMapper">
    <select id="findAll" resultType="programmers.baemin.store.domain.Store">
        select id, name
        from store
    </select>

    <select id="findById" parameterType="int" resultType="programmers.baemin.store.domain.Store">
        select id, name
        from store
        where id=#{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into store(name)
            values (#{name})
    </insert>
</mapper>
